body {

}

#side-menu {
  border:1px solid black;
  margin:1px;
  height: 100px;
}

/*#main-area {
  border:1px solid black;
  margin:1px;
  height: 100px;
}

#contents {
  border:1px solid black;
  margin:1px;
  height: 100px;
}

#special-links {
  border:1px solid black;
  margin:1px;
  height: 100px;
}*/

.glyphicon-folder-open {
  color: #FBB628;
}

.glyphicon-file {
  color: #284510;
}

.glyphicon-home, .glyphicon-level-up {
  color: #649390;
}

.glyphicon {
  padding-right: 10px;
}

.icon {
  border: 3px solid grey;
  margin: 5px;
  padding-top: 10px;
  /*padding-bottom: 0px;*/
  text-align: left;
  white-space: nowrap;
}

.icon > p {
  padding: 0px;
  /*border: 1px solid black;*/
  overflow: auto;
}
