<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="shortcut icon" href="/static/default/img/favicon.ico" >
  <link rel='stylesheet' href='/static/default/css/home.css'>
  <link rel='stylesheet' href='/static/default/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/static/default/css/home.css'>

  <script src="/static/default/js/jquery-1.11.3.min.js"></script>
  <script src="/static/default/js/jquery-ui-1.11.1.min.js"></script>
  <script src="/static/default/js/bootstrap.min.js"></script>

  <title>Clouder-lite | Local Cloud Storage</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-2" id="side-menu"></div>
      <div class="col-lg-9" id="contents">
        <div class="row">
          <div class="col-lg-12" id="special-links">

          </div>
        </div>
        <div class="row">
          <div class="col-lg-12" id="main-area">

          </div>
        </div>
        <div class="row">
          <div class="col-lg-12" id="secondary-area">
          	<h4>Select files to be uploaded</h4>
         	<br/>
	         <form id='upload-form' method='post' enctype='multipart/form-data'>
	         <p><input type='file' multiple='' name='files' id='files'></p>
	         <p><input type='button' id='upload-file-btn' value='Upload'/></p>
        	</form>
        	</div>
        </div>
      </div>
    </div>
  </div>

</body>
 <div id="dir-upload">
 </div>

  
<script type="text/javascript">
var GLOBALS = {
  tree: undefined,
  clean: false,
  current_parent: undefined,
  start_node: '{{ initial }}'
}
</script>
<script src="/static/default/js/home.js" type="text/javascript"></script>
</html>
