<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/custom.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

  <title>Py Lite Cloud | File uploader</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a href="c/A.png"> DL </a>
        <br/>
        <h4>Select files to be uploaded</h4>
        <br/>
        <form action="" method="post" enctype="multipart/form-data">
          <p><input type="file" multiple="" name="files"></p>
          <p><input class="btn" type="submit" value="Upload"></p>
        </form>
      </div>
    </div>
  </div>
</body>
